.upper-page {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Raleway;
  width: 100vw;
  max-width: 100vw;
}

.upper-page .bottom-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  max-width: 100vw;
  margin-top: -7%;
}
